body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.categoria {
    background-color: #f2a365;
    padding: 40px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.categoria:hover {
    transform: scale(1.1);
}









.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 15px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

.producto img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.carrito {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2a365;
    color: white;
    font-weight: bold;
}

.carrito-header {
    cursor: pointer;
}